@font-face {
    -fx-font-family: Matrixb;
    src: url("../Fonts/Yu-Gi-Oh! Matrix Book.ttf");
}

@font-face {
    -fx-font-family: Matrixr;
    src: url("../Fonts/Yu-Gi-Oh! Matrix Regular Small Caps 1.ttf");
}