@font-face {
    -fx-font-family: Squaler;
    src: url("../Fonts/Squealer.ttf");
}

#slogan{
    -fx-font-family: Squealer;
    -fx-font-size: 48px;
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}


#login {
    -fx-background-color: rgba(70,70,70,0.5);
    -fx-background-radius: 0px;
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-border-width: 1px;
}

#login:hover {
    -fx-background-color: rgba(60,60,60,0.5);
    -fx-background-radius: 0px;
    -fx-border-color: red;
    -fx-text-fill: white;
    -fx-border-width: 1px;
}

#base_Button_Register{
    -fx-border-color: red;
    -fx-border-width: 1px;
}

#user_TextField, #pass_TextField{
    -fx-background-radius: 0px 0px 0px 5px;
    -fx-background-color: transparent;
    -fx-border-radius: 0px 0px 5px 5px;
    -fx-border-color: transparent transparent red red;
    -fx-border-width: 2px;

}