@font-face {
    -fx-font-family: Squaler;
    src: url("../Fonts/Squealer.ttf");
}

@font-face {
    -fx-font-family: Coalition;
    src: url("../Fonts/Coalition_v2.ttf");
}

#slogan{
    -fx-font-family: Squealer;
    -fx-font-size: 28px;
    -fx-stroke: rgb(214, 0, 0);
    -fx-stroke-width: 2px;
}

#back {
    -fx-background-color: red;
    -fx-font-family: Coalition;
    -fx-font-size: 24px;
}

#back:pressed {
    -fx-font-family: Coalition;
    -fx-font-size: 24px;
}

#register {
    -fx-background-image: url('../Images/Buttons/Button_1.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: gray;
}

#register:pressed {
    -fx-background-image: url('../Images/Buttons/Button_1_Hit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: rgb();
}

#base_Button_Register{
    -fx-border-color: gray;
    -fx-border-width: 1px;
}